{% load static cms_tags menu_tags sekizai_tags %}


<div class="container-fluid">
    <select id="category-select" name="category" class="rounded">
        <option value="">Všetky</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.name }}</option>
        {% endfor %}
    </select>
</div>


{% for product in products %}
    
<section class="page-section hidden" data-category={{ product.category.id }} data-slug={{ product.slug }}>
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="title-wrapper bg-faded p-5 d-flex {% if forloop.counter0|divisibleby:2 %}ml-auto{% else %}mr-auto{% endif %} rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">{{ product.category }}</span>
                        <span class="section-heading-lower">{{ product.name }}</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0 lazy" data-src="/media/{{ product.image }}" alt="lazy loaded">
            <div class="product-item-description d-flex {% if forloop.counter0|divisibleby:2 %}mr-auto{% else %}ml-auto{% endif %}">
                <div class="bg-faded p-5 rounded">
                    <p class="mb-0">{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
